<html xmlns:th="http://www.thymeleaf.org">

	<body>
	<p>Lūdzu ievadiet jaunos produkta datus</p>
	
	<p th:text="${packet.getTitle()}">  </p> 
	<p th:text="${packet.getPrice()}">  </p> 
	<p th:text="${packet.getQuantity()}">  </p> 
	
	<form action = "#" th:action="@{/product/update/__${id}__}" th:object="${packet}" method="post">
		
		<input type="text" th:field="*{title}">
		<input type="text" th:field="*{price}">
		<input type="text" th:field="*{quantity}">
		<button type="submit">Submit </button>
	</form>
	
	
	</body>
	
</html>